<!--The content below is only a placeholder and can be replaced.-->

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>

<h2>Add Your Guide</h2>

<form action="">

  <div class="container">
    <label for="uname"><b>Name</b></label>
    <input type="text" placeholder="Enter name..." name="uname" required>

    <label for="psw"><b>Phone</b></label>
    <input type="text" placeholder="Enter phone..." name="psw" required>
    
    <label for="psw"><b>Address</b></label>
    <textarea style="width: 500px;"></textarea>
        
    <button type="submit">Submit</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
  </div>
</form>

</body>
</html>




