<!--The content below is only a placeholder and can be replaced.-->

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

    </style>
</head>

<body>
    <div id="load" class="preloader" style="text-align:center; display: none;">
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <span style="color:blue; font-size: 30px;">Sending...</span>
    </div>

    <h2>History</h2>


    <div>
        <table id="t01">
            <tr>
              <th>Firstname</th>
              <th>Lastname</th> 
              <th>Age</th>
            </tr>
            <tr>
              <td>Jill</td>
              <td>Smith</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Eve</td>
              <td>Jackson</td>
              <td>94</td>
            </tr>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>80</td>
            </tr>
          </table>
    </div>

        <!-- <ul>
        <li *ngFor="let user of findUserList">{{user.email}}</li>
    </ul> -->


    <div class="container" style="background-color:#f1f1f1;height:50px ;">
    </div>

</body>

</html>